body {
    padding: 2em 2em;
    color: white;
    background-color: black;
    font-size: 1.3em;
    text-align: center;
    line-height: 3em;

}

header h3 {
    padding: 0 3em;
}

.body {
    margin-top: 2em;
    display: inline-flex;
    flex-wrap: wrap;
    min-width: 60%;
    justify-content: space-between;
}

.body h2{
    color: lightskyblue;
}